*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
a {
  color: #333333;
  text-decoration: none;
}


form {
  display: flex;
}

form input {
  flex : 10;
  padding : 5px
}

form button {
  flex: 1;
  cursor: pointer;
  background: #555;
  border: none;
  color: white;
}

button:hover {
  background: #666;
}

main {
  width: 80%;
  margin: 0 auto;
}

ul {
  margin-top: 10px;
}

ul li {
  list-style-type: disc;
  margin-left: 20px;
  padding: 5px;
}